@import '../src/shared/styles/varibles';

.App {
  text-align: center;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.app-content {
  display: grid;
  justify-content: center;
  margin-left: $margin-s;
  height: $page-height;
  overflow-x: auto; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

