.button {
    min-width: 190px;
    width: fit-content;
    height: 50px;
    font-size: 24px;
    background-color: white;
}
.secondary {
    background-color: #2B3A67;
    color: white;
}
.primary{
    background-color: white;
    color: black;
}
@media (max-width: 1000px) {

    .button {
        min-width: 120px;
        width: fit-content;
        height: 40px;
        font-size: 16px;
    }

}