@import '../../shared/styles/varibles';

.button {
    min-width: 190px;
    width: fit-content;
    border: $border-width $border-style $color-gray;
    border-radius: $border-radius-m;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    background-color: $color-white;
    cursor: pointer;
    
    &:hover{
        background-color: rgb(212, 212, 212);
    }
}
.secondary {
    background-color: rgba(43, 58, 103);
    color: $color-white;
    &:hover{
        background-color: rgb(58, 77, 134);
    }
}
.primary{
    background-color: $color-white;
    color: $color-black;
}
@media (max-width: $screen-sm) {

    .button {
        min-width: 120px;
        width: fit-content;
        height: 40px;
        font-size: 16px;
    }

}