@import '../../shared/styles/varibles';

.userContainer {
  position:relative;
  height: 73px;
  width: 298px;
  display: grid;
  grid-template: 1fr / 1fr 3fr;
  align-items: center;
  border-radius: $border-radius-m;
  background-color: $color-white;
  box-shadow: $shadow-a; 
}

.nameContainer {
  width: 80%;
  display: grid;
  place-self: center start;
  span {
    display: block;
    height: 8px;
    top: 50%;
    font-size: 8px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

span.nameFont {
  font-size: 24px;
  height: 30px;
}

span.fontSmall {
  font-size: 16px;
  height: 20px;
}

.smallContainer {
  height: 48px;
  width: 198px;
  font-size: 16px;
}