$color-black:#000;
$color-white:#FFF;
$color-success:#00BF32;
$color-error:#FF1E00;

$color-space-cadet: rgba(43, 58, 103, 1);
$color-dark-blue: rgba(73, 106, 129, 1);
$color-cadet-blue: rgba(102, 153, 155, 1);
$color-base-sage: rgba(179, 175, 143, 1);
$color-melloy-apricot: rgba(255, 196, 130, 1);

